@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Marck+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

.container {
  max-height: 100%;
  min-height: 100%;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #00BFFF;
}

.form-wrap {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 660px;
  padding: 1.6rem;
  background: rgba(0, 0, 0, 0.36);
  border-radius: 0.8rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  animation: boxShadow 4s ease-in infinite;
}
@keyframes boxShadow {
  50% {
	box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
  }
}

.num-form {
  position: relative;
  z-index: 2;
  font-family: Pacifico;
}
.num-form__content {
  border: none;
}
.num-form__radio {
  position: absolute;
  opacity: 0;
}
.num-form__radio + .num-form__label + .num-form__content {
  display: none;
}
.num-form__radio:checked + .num-form__label + .num-form__content {
  display: block;
}
.num-form__radio:checked + .num-form__label {
  background: rgba(0, 0, 0, 0.36);
  color: #fff;
  border-color: transparent;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  animation: textShadow 4s ease-in infinite;
}
@keyframes textShadow {
  50% {
	text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  }
}
.num-form__label {
  width: 50%;
  display: inline-block;
  background: none;
  font-family: "Marck Script", cursive;
  cursor: pointer;
  border: 0.16rem solid rgba(0, 0, 0, 0.36);
  padding-left: 0.8rem;
  margin-bottom: 0.8rem;
  height: 4rem;
  color: #fff;
  font-size: 24px;
  line-height: 4rem;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.36);
}
.num-form__label--right {
  position: absolute;
  top: 0;
  right: 0;
}
.num-form__label:first-letter {
  color: #bfff00;
}
.num-form__input, .num-form__text, .num-form__btn {
  display: block;
  width: 100%;
  border: 0.08rem solid rgba(0, 0, 0, 0.05);
  font-family: monospace;
  outline: none;
  text-transform: uppercase;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, transparent 150%);
  padding-left: 0.8rem;
  margin-bottom: 0.8rem;
  height: 4rem;
  color: #fff;
  font-size: 24px;
  line-height: 4rem;
}
.num-form__input::placeholder, .num-form__text {
  color: #fff;
}
.num-form__input {
  color: #333;
}
.num-form__input--date::-webkit-inner-spin-button {
  display: none;
}
.num-form__input--date::-webkit-calendar-picker-indicator {
  margin-right: 0.8rem;
  color: rgba(0, 0, 0, 0.36);
  opacity: 1;
  cursor: pointer;
  filter: drop-shadow(0 2px 2px #000);
  background: none;
}
.num-form__text {
  text-align: center;
}
.num-form__btn {
  margin-bottom: 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0.36);
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.36);
  transition: background-color 0.3s ease;
  font-size: 35px;
}
.num-form__btn:hover {
  background: rgba(38, 38, 38, 0.36);
}

@media screen and (max-width: 768px) {
  html {
	font-size: 16px;
  }

  .form-wrap {
	margin-bottom: 0;
  }

  .num-form__label {
	display: block;
	width: 100%;
	margin-bottom: 5.6rem;
  }

  .num-form__label--right {
	top: 4.8rem;
  }

  .num-form__text {
	padding-right: 0;
	padding-left: 0;
  }

  .num-form__input--date {
	padding-top: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
